header {
  display: flex;
  justify-content: space-around;
  background-color: #DB241D; }
  header h1 {
    padding: 0.1rem;
    font-size: 2.3rem; 
    }
  header ul {
    display: flex; }
  header ul li {
    list-style: none;
    font-size: 1.2rem;
    padding: 1.5rem; }
  header ul li a{
    text-decoration: none;
    color: black;
  }
main {
  background-image: url(../img/fondo1.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-position-x: center;
  grid-template-rows: 'parrafo'
 'img'
 'iniciarS'; }
  main div {
    font-size: 1.3rem;
    justify-content: flex-start; }
  main div p {
    grid-row: parrafo;
    padding: 8rem 0rem 1.3rem 1rem; }
  main div img {
    grid-row: img;
    width: 18%;
    padding: 0.2rem 0rem 0rem 5rem; }
  main div p a {
    grid-row: iniciarS;
    text-decoration: none;
    background-color: #DB241D;
    color: black;
    padding: 1rem;
    margin: 0rem 0rem 0rem 6.27rem; }

footer {
  background-color: #DB241D;
  display: flex;
  justify-content: space-around;
  grid-template-columns: 'parrafo iconos'; }
  footer p {
    grid-column: parrafo; }
  footer div {
    grid-column: iconos; }
    footer div a img {
      width: 4%;
      padding: 0.3rem 0.5rem 0.3rem 0.1rem; }


      /*estilo para metodo*/
header h1 a{
  color: black;
  text-decoration: none;
}
.mainMetodo{
  background: whitesmoke;
}