@import 'base/variables';
@import 'base/listas';
@import 'base/mixin';


/*utilizando nesting*/
header {
    /*utilizando mixin*/
    @include flex-row
    /*utilizando variables*/
    background-color: $colorPrincipal;

    h1{
        padding: 0.1rem;
        font-size: 2.3rem;
        a{
        text-decoration: none;
        /*utilizando listas*/
        color: nth($list: $colores, $n:1 );
        }
    }

    

   ul{
    display: flex;
   }
    ul li{
    list-style: none;
    font-size: 1.2rem;
    padding: 1.5rem;
   }
}

main{
    background-image: url(../img/fondo1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-position-x: center;
    grid-template-rows: 'parrafo'
                        'img'
                        'iniciarS';
    div{
        font-size: 1.3rem;
        justify-content: flex-start;
    }
    div p{
        grid-row: parrafo;
        padding: 8rem 0rem 1.3rem 1rem;
    }
    div img{
        grid-row: img;
        width: 18%;
        padding: 0.2rem 0rem 0rem 5rem;
    }
    div p a{
        grid-row: iniciarS;
        text-decoration: none;
        background-color: $colorPrincipal;
        color: nth($list: $colores, $n:1 );
        padding: 1rem;
        margin: 0rem 0rem 0rem 6.27rem;
    }
}

footer{
    background-color: $colorPrincipal;
    /*utilizando mixin*/
    @include flex-row
    grid-template-columns: 'parrafo iconos';
    p{
        grid-column: parrafo;
    }
    div{
        grid-column: iconos;     
        
        a img{
            width: 4%;
            padding: 0.3rem 0.5rem 0.3rem 0.1rem;
        }
    }
}